<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Vocal Report!</title>
        <style>
            table,
            th,
            td {
                border: 1px solid;
            }
        </style>
    </head>
    <body>
        <div>
            <h1>Vocal Overview Report [{{from_date}}]-[{{to_date}}]</h1>
            <p>Outlook Note: Change the message format to HTML!</p>
            <p style="color: red;">To see our full report, please open HTML file!</p>
        </div>
        <div>
            <h2>How to interprete Alert Code</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Alert color</th>
                        <th>Description</th>
                        <th>Impact</th>
                    </tr>
                </thead>
                <tr>
                    <td>Pink</td>
                    <td>Variant is known as VOC/VOI and containing MOC or new mutations.</td>
                    <td>HIGH</td>
                </tr>
                <tr>
                    <td>Red</td>
                    <td>Not VOC/VOI but contain high MOC or ROI, and a new matuation (likely to cause a problem/ new dangerous).</td>
                    <td>HIGH</td>
                </tr>
                <tr>
                    <td>Orange</td>
                    <td>Variant contains moderately muations, or also possibly consider them either VUM or De-escalated variant.</td>
                    <td>MODERATE</td>
                </tr>
                <tr>
                    <td>Lila</td>
                    <td>Mostly harmless variant (near-zero mutation size for MOC or ROI).</td>
                    <td>LOW</td>
                </tr>
                <tr>
                    <td>Grey</td>
                    <td>No evidence of impact (either no MOC or no ROI).</td>
                    <td>LOW</td>
                </tr>
            </table>
        </div>
        <h2>Prediction Overview</h2>
        <table class="table table-bordered">
            <caption>
                Group By Sample
            </caption>
            <thead>
                <tr>
                    <th><b>Alert level</b></th>
                    <th><b>Sample Size</b></th>
                </tr>
            </thead>
            {% for i, cell in _samples.groupby(['alert_level']).size().iteritems() %}
            <tr>
                <td>{{ i }}</td>
                <td>{{ cell }}</td>
            </tr>
            {% endfor %}
        </table>
        <br />
        <table class="table table-bordered">
            <caption>
                Group By Cluster
            </caption>
            <thead>
                <tr>
                    <th><b>Alert level</b></th>
                    <th><b>Cluster Size</b></th>
                </tr>
            </thead>
            {% for i, cell in _clusters_df.groupby(['alert_level']).size().iteritems() %}
            <tr>
                <td>{{ i }}</td>
                <td>{{ cell }}</td>
            </tr>
            {% endfor %}
        </table>
        <span>*Grey alert always has only one cluster</span>
        <h2 class="text-center"><b>Cluster Summary</b></h2>

        <h3>
            <b><u>>Today, Top 10 clusters for each alert level</u></b>
        </h3>
        <table id="top_cluster" class="table table-striped" style="width: 100%;">
            <thead>
                <tr>
                    {% for cell in _top10_df.columns %}
                    <th><b>{{ cell }}</b></th>
                    {% endfor %}
                </tr>
            </thead>
            {% for i, row in _top10_df.iterrows() %}
            <tr>
                {% for cell in row %}
                <td>{{ cell }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <h3>
            <b><u>>Not in ECDC list and predicted with RED and PINK alert</u></b>
        </h3>
        <div class="row">Note: List all clusters that are not in ECDC list but having prediction result as RED and PINK.</div>
        <div class="row">* List only 10 rows...</div>
        {% if _ECDC_notVOC_PINKRED.empty %} None {% else %}
        <table class="table table-bordered">
            <tr>
                {% for cell in _ECDC_notVOC_PINKRED.columns %}
                <td><b>{{ cell }}</b></td>
                {% endfor %}
            </tr>
            {% for i, row in _ECDC_notVOC_PINKRED.iterrows() %}
            <tr>
                {% for cell in row %}
                <td>{{ cell }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        <h2 class="text-center"><b>Sample Summary</b></h2>
        <h3>
            <b><u>>Samples that have high PM </u></b>
        </h3>
        <div class="row">Note: high private mutaions = (SNP > 20 or DEL > 5 or INS > 5)</div>
        <div class="row">* List only 10 rows...</div>
        {% if _sample_high_mut.empty %} None {% else %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    {% for cell in _sample_high_mut.columns %}
                    <th><b>{{ cell }}</b></th>
                    {% endfor %}
                </tr>
            </thead>
            {% for i, row in _sample_high_mut.iterrows() %}
            <tr>
                {% for cell in row %}
                <td>{{ cell }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        <h3>
            <b><u>>ECDC with GREY alert</u></b>
        </h3>

        <div class="row">Note: Lineages that are listed in ECDC and predicted as GREY alert.</div>
        <div class="row">* List only 10 rows...</div>
        {% if _ECDC_GREY.empty %} None {% else %}
        <table id="ecdc_grey" class="table table-striped" style="width: 100%;">
            <tr>
                {% for cell in _ECDC_GREY.columns %}
                <td><b>{{ cell }}</b></td>
                {% endfor %}
            </tr>
            {% for i, row in _ECDC_GREY.iterrows() %}
            <tr>
                {% for cell in row %}
                <td>{{ cell }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        <hr />
        <div>
            <h2>Happy analyzing!</h2>
            <p>Vocal Team</p>
        </div>
    </body>
</html>
